@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.school-info {
  margin-left: 10px; /* Adjusts space between paragraphs */
}

.details {
  margin-left: 20px; /* Adjusts space between the text and the span */
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.a {
  font-weight: bold;
  font-size: 20px;
}
.t{
  font-weight: bold;
  font-size: 20px;
  transform: translateX(5px);
 
 
}